# Python
*.pyc
__pycache__/
venv/
*.egg-info/
dist/
build/
.DS_Store
# MATLAB
*.asv
*.mex
*.mexa64
*.mexmaci64
*.mexw32
*.mexw64
*.mlapp
*.mlappinstall
*.mldatx
*.mltbx
*.mltbx_manifest.xml
*.m~
*.p
*.asv
*.asv3
*.asvx
*.ctf
*.mat
*.mexglx
*.mexmaci
*.mexmaci64
*.mexsol
*.oct
*.o
*.obj
*.pdb
*.x
*.y

# C++
*.o
*.out
*.exe
*.so
*.a
*.dylib
*.dll
*.pdb
*.ilk
*.obj
*.lib
*.gcno
*.gcda
*.gcov
*.dSYM/

